<% include partials/header %>
<div class="container">
<h1>Create a New Campground </h1>
	
	<div class = "row">
	<form action="/index" method = "post">
	<input type = "text" class="form-control" name = "name" placeholder="name">
 	<input type="text" class="form-control" name= "image" placeholder="image url">
 	<input type = "text" class="form-control" name="location" placeholder="location">
 	<button class="btn btn-lg btn-primary">Submit! </button>
 	<p>
 	<div>
 	<a href = "/index" class="btn btn-primary"> Back to landing page</a>
 	</div>
 	</p>
 </form>



	</div>


</div>
 <% include partials/footer %>

