<% include partials/header %>

<h2><%=campground.name%></h2>
<br>
<div class="thumbnail"> 
<img src="<%=campground.image%>" class="img-thumbnail">
</div>

<div class="caption">
<h4> <%=campground.location%> </h4>
</div>



<% include partials/footer %>
